@model List<HW4_Memo.Models.Shape>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Shapes HW 4</h1>
</div>

<div class="row">
    <a class="btn btn-primary pull-right" href="@Url.Action("Add","Home")">Add Shape</a>
</div>
@foreach (var shape in Model)
{
    <div class="row">
        <h4>@shape.Description</h4>
        <h6>Area: @shape.getArea()</h6>
        @Html.Raw(shape.getSVG())
    </div>
}
